  <li class="row-fluid item">
     <div class="span2">09:30-10:30</div>
      <div class="span10 all-tracks">Keynote (in Hall)</div>
  </li>
  <li class="row-fluid item">
     <div class="span2">11:00-12:00</div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/30-highlights-of-python-3-3">Highlights of Python 3.3</a></h4>
      <p>Nick Coghlan</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/70-powerful-building-blocks-for-application-development-in-python">Powerful building blocks for application development in Python  </a></h4>
      <p>Prabhu Ramachandran</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/32-taming-the-snake-with-the-king-of-editors-vim">Taming the snake with the king of editors - Vim.</a></h4>
      <p>Satyajit Ranjeev</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/56-gevent-and-coroutines-scaling-real-world-network-applications">Gevent and Coroutines - Scaling Real World Network Applications</a></h4>
      <p>Aalok Sood</p>
    </div>
  </li>
  <li class="row-fluid item">
     <div class="span2">12:00-13:00</div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/19-rewriting-the-wayback-machines-live-web-proxy-in-python">Rewriting the Wayback machine's live web proxy in Python</a></h4>
      <p>Noufal Ibrahim</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/61-rapid-development-of-website-search-in-python">Rapid development of website search in Python</a></h4>
      <p>Vishal Kanaujia</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/46-automated-data-analysis-with-python">Automated data analysis with Python</a></h4>
      <p>Anand S</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/18-building-real-time-django-apps">Building Real Time Django Apps</a></h4>
      <p>Avinash Prasad</p>
    </div>
  </li>
  <li class="row-fluid item">
     <div class="span2">13:00-14:00</div>
      <div class="span10 all-tracks">Lunch Break</div>
  </li>
  <li class="row-fluid item">
     <div class="span2">14:00-15:00</div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/20-building-better-apis">Building better APIs</a></h4>
      <p>Hemant Kumar</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/72-enaml-pythonic-toolkit-independent-declarative-uis">Enaml: Pythonic, toolkit independent, declarative UIs  </a></h4>
      <p>Puneeth Chaganti</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/7-python-the-weird-bits">Python, the weird bits</a></h4>
      <p>Saager Mhatre</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/10-guide-to-tdd-and-flight-to-bdd-with-python-django">Guide to TDD and Flight to BDD with python/django</a></h4>
      <p>Saket Bhushan</p>
    </div>
  </li>
  <li class="row-fluid item">
     <div class="span2">15:00-16:00</div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/78-advanced-task-management-with-celery">Advanced task management with Celery</a></h4>
      <p>Mahendra M</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/65-building-a-speaker-recognition-system">Building a speaker recognition system</a></h4>
      <p>Achintya Prakash</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/63-customizing-the-django-admin">Customizing the Django admin</a></h4>
      <p>Dheeraj Sayala</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/53-learning-from-the-past-with-scikit-learn">Learning from the Past: with Scikit-Learn</a></h4>
      <p>Anoop Thomas</p>
    </div>
  </li>
  <li class="row-fluid item">
     <div class="span2">16:00-16:30</div>
      <div class="span10 all-tracks">Tea Beak</div>
  </li>
  <li class="row-fluid item">
     <div class="span2">16:30-17:30</div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/8-document-your-code">Document your code</a></h4>
      <p>kushaldas</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/16-testing-embedded-systems-with-python">Testing Embedded Systems with Python</a></h4>
      <p>Sibin Thomas</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/66-optimization-and-profiling">Optimization and Profiling</a></h4>
      <p>Gayatri Nittala</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/34-queue-everything-and-please-everyone">Queue Everything and Please Everyone</a></h4>
      <p>Vaidik Kapoor</p>
    </div>
  </li>
  <li class="row-fluid item">
     <div class="span2">17:30-18:30</div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/17-rails-for-django-developers">Rails for Django developers</a></h4>
      <p>Shabda Raaj</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/44-automation-of-web-application-testing-using-selenium-with-python">Automation of Web Application Testing Using Selenium with Python</a></h4>
      <p>Nithya Duraisamy</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/82-test-automation-made-easy-with-staf-and-python">Test Automation made easy with STAF and Python</a></h4>
      <p>pavan kumar</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/22-develop-for-an-international-audience">Develop for an international audience</a></h4>
      <p>Ratnadeep Debnath</p>
    </div>
  </li>
