  <li class="row-fluid item">
     <div class="span2">09:00-09:30</div>
      <div class="span10 all-tracks">Registrations</div>
  </li>
  <li class="row-fluid item">
     <div class="span2">09:30-10:30</div>
      <div class="span10 all-tracks">Keynote by Jacob Kaplan-Moss (in Hall)</div>
  </li>
  <li class="row-fluid item">
     <div class="span2">11:00-12:00</div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/46-automated-data-analysis-with-python">Automated data analysis with Python</a> <span style="font-size: 0.8em">(Repeat)</span></h4>
      <p>Anand S</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/77-scaling-django-with-gevent">Scaling Django with gevent</a></h4>
      <p>Mahendra M</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/71-new-kids-on-the-scipy-block">New kids on the SciPy block</a></h4>
      <p>Puneeth Chaganti</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/39-healthy-webapps-through-continuous-introspection">Healthy Webapps through Continuous Introspection</a></h4>
      <p>Erik van Zijst</p>
    </div>
  </li>
  <li class="row-fluid item">
     <div class="span2">12:00-13:00</div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/27-text-analysis-with-python">Text Analysis with python</a></h4>
      <p>Vijay Ramachandran</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/64-competition-programming-and-problem-solving-using-python">Competition Programming and Problem Solving using Python</a></h4>
      <p>Dhruv Baldawa</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/49-python-for-android">Python for Android</a></h4>
      <p>Arjun jain</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/14-django-templates-for-web-designers">Django templates for Web Designers </a></h4>
      <p>Shreyank Gupta</p>
    </div>
  </li>
  <li class="row-fluid item">
     <div class="span2">13:00-14:00</div>
      <div class="span10 all-tracks">Lunch Break</div>
  </li>
  <li class="row-fluid item">
     <div class="span2">14:00-15:00</div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/48-openstack-open-source-software-for-building-private-and-public-clouds-written-in-python">Openstack: Open source software for building private and public clouds written in Python.</a></h4>
      <p>Atul Jha</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/28-py-101-beginners-guide-to-create-a-python-package">PY 101 - Beginners guide to create a python package</a></h4>
      <p>kracekumar</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/29-path-dependent-development">Path Dependent Development</a></h4>
      <p>Nick Coghlan</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/35-mobile-apps-with-python-quick">Mobile apps with Python, Quick!</a></h4>
      <p>Supreet Sethi</p>
    </div>
  </li>
  <li class="row-fluid item">
     <div class="span2">15:00-16:00</div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/57-pycassa-python-cassandrified">PyCassa - Python Cassandrified</a></h4>
      <p>Ramesh Rajini</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/36-artificial-intelligence-using-python">Artificial Intelligence using Python</a></h4>
      <p>Adwait Sharma</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/13-python-as-a-learning-language-an-undergraduate-students-view">Python As a Learning Language (An undergraduate student’s view)</a></h4>
      <p>Rishi Mukherjee</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/5-unit-testing-using-mock">Unit testing using Mock</a></h4>
      <p>Gaurav Sood</p>
    </div>
  </li>
  <li class="row-fluid item">
     <div class="span2">16:00-16:30</div>
      <div class="span10 all-tracks">Tea Beak</div>
  </li>
  <li class="row-fluid item">
     <div class="span2">16:30-17:30</div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/33-managing-aws-cloud-with-python">Managing AWS cloud with python</a></h4>
      <p>Rohit Gupta</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/41-introduction-to-pygobject-gtk-gstreamer-other-gnome-api"> Introduction to PyGObject - Gtk, GStreamer & other Gnome API</a></h4>
      <p>Dhananjay Sathe</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/12-cryptanalysis-using-python">Cryptanalysis using python</a></h4>
      <p>Nivedita Datta</p>
    </div>
    <div class="span2 span2-5">
      <h4><a href="http://in.pycon.org/2012/funnel/pyconindia2012/42-python-in-big-data-world">python in big data world</a></h4>
      <p>Venkat SP</p>
    </div>
  </li>
  <li class="row-fluid item">
     <div class="span2">17:30-18:30</div>
      <div class="span10 all-tracks">IPSS AGM</div>
  </li>
