<section id="sponsors" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="left">Sponsors</h2>
    </div>
    <div class="row">
      <article class="sponsor-platinum sponsor span6">
        <p class="logo"><a href="http://www.enthought.com/"><img alt="Enthought" src="{{ theme_static('img/2012/sponsors/sponsor-enthought.png') }}"></a></p>
      </article>
      <article class="open sponsor-platinum sponsor span6">
        <p class="logo"></p>
      </article>
    </div>

    <div class="row">

      <article class="sponsor-gold sponsor span3">
        <p class="logo">
            <a href="http://python.org/psf/" title="Python Software Foundation"><img alt="Python Software Foundation" src="{{ theme_static('img/2012/sponsors/sponsor-psf.png') }}"></a>
        </p>
      </article>
      <article class="sponsor-gold sponsor span3">
        <p class="logo">
            <a href="http://www.redhat.com/" title="Red Hat"><img alt="Red Hat" src="{{ theme_static('img/2012/sponsors/sponsor-redhat.png') }}"></a>
        </p>
      </article>
      <article class="sponsor-gold sponsor span3">
        <p class="logo">
            <a href="http://www.zeomega.com/" title="ZeOmega"><img alt="ZeOmega" src="{{ theme_static('img/2012/sponsors/sponsor-zeomega.gif') }}"></a>
        </p>
      </article>
      <article class="sponsor-gold sponsor span3">
        <p class="logo">
            <a href="http://www.oracle.com/" title="Oracle"><img alt="Oracle" src="{{ theme_static('img/2012/sponsors/sponsor-oracle.png') }}"></a>
        </p>
      </article>
    </div>
    <div class="row">
      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-agiliq"><img alt="Agiliq" src="{{ theme_static('img/2012/sponsors/sponsor-agiliq.png') }}"></a></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-projectplace"><img alt="Projectplace" src="{{ theme_static('img/2012/sponsors/sponsor-projectplace.png') }}"></a></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a href="https://github.com/"><img alt="GitHub" src="{{ theme_static('img/2012/sponsors/sponsor-github.png') }}"></a></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-ideadevice"><img alt="Idea Device" src="{{ theme_static('img/2012/sponsors/sponsor-ideadevice.jpg') }}"></a></p>
      </article>
    </div>
    <div class="row">
      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a href="http://www.lexity.com/" title="Lexity Labs"><img alt="Lexity Labs" src="{{ theme_static('img/2012/sponsors/sponsor-lexity.png') }}"></a></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-plivo"><img alt="Plivo" src="{{ theme_static('img/2012/sponsors/sponsor-plivo.png') }}"></a></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-symphonyteleca"><img alt="Symphony Teleca Corporation" src="{{ theme_static('img/2012/sponsors/sponsor-symphonyteleca.png') }}"></a></p>
      </article>
    </div><!-- /row -->

      <div class="modal fade sponsor-box" id="sponsor-agiliq">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Agiliq</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-agiliq').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.agiliq.com/" class="btn btn-primary sponsor-exit">Visit Agiliq</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
      <div class="modal fade sponsor-box" id="sponsor-projectplace">
       <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Projectplace</h3>
       </div>
       <div class="modal-body">
         {{ fragment('2012', 'sponsor-projectplace').content }}
       </div>
       <div class="modal-footer">
         <a href="http://www.projectplace.com/" class="btn btn-primary sponsor-exit">Visit ProjectPlace</a>
         <a data-dismiss="modal" class="btn">Close</a>
       </div>
       </div>

      <div class="modal fade sponsor-box" id="sponsor-ideadevice">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Idea Device</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-ideadevice').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.ideadevice.com/" class="btn btn-primary sponsor-exit">Visit Idea Device</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
      <div class="modal fade sponsor-box" id="sponsor-plivo">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Plivo</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-plivo').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.plivo.com/" class="btn btn-primary sponsor-exit">Visit Plivo</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
      <div class="modal fade sponsor-box" id="sponsor-symphonyteleca">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Symphony Teleca Corporation</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-symphonyteleca').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.symphonyteleca.com/" class="btn btn-primary sponsor-exit">Visit Symphony Teleca</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
  </div><!-- /container -->
</section><!-- /sponsors -->
