<section id="sponsors" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="left">Sponsors</h2>
    </div>
    <div class="row">
      <article class="open sponsor-platinum sponsor span6">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/430x200/F7F6F0/444&amp;text=Your+logo+here%3f"></p>
      </article>
      <article class="open empty sponsor-platinum sponsor span6">
        <p class="logo"></p>
      </article>


      <article class="open sponsor-gold sponsor span3">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/192x150/F7F6F0/444&amp;text=Your+Logo%3f"></p>
      </article>
      <article class="open empty sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>


      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-agiliq"><img alt="Agiliq" src="{{ theme_static('img/2012/sponsors/sponsor-agiliq.png') }}"></a></p>
      </article>
      <article class="open sponsor-silver sponsor span2">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/128x100/F7F6F0/444&amp;text=Your+Logo%3f"></p>
      </article>
      <article class="open empty sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>



      <div class="modal fade sponsor-box" id="sponsor-agiliq">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Agiliq</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-agiliq').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.agiliq.com/" class="btn btn-primary sponsor-exit">Visit Agiliq</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>

      </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /sponsors -->
