<section id="venue" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="right">Venue</h2>
    </div>
    <div class="row map-box">
      <div class="span5">
        {% with f = fragment('2012', 'venue-blurb') %}
          <div class="section-subheader">
            <h3>{{ f.title }}</h3>
          </div>
          {{ f.content }}
        {% endwith %}
      </div>
      <div class="span7">
        <div id="map" class="map"></div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /venue -->
