Flask
Flask-Assets
git+git://github.com/hasgeek/coaster.git#egg=coaster
git+git://github.com/hasgeek/baseframe.git#egg=baseframe
git+git://github.com/hasgeek/flask-lastuser.git#egg=Flask-Lastuser
https://bitbucket.org/jace/flask-themes/get/tip.zip
Flask-SQLAlchemy
Flask-WTF
Markdown
ordereddict
requests
simplejson
pytz
uwsgi
