Flask
Flask-Assets==0.6.2
git+git://github.com/hasgeek/coaster.git#egg=coaster
git+git://github.com/hasgeek/baseframe.git#egg=baseframe
Flask-SQLAlchemy==0.15
Flask-WTF
git+git://github.com/hasgeek/flask-lastuser.git#egg=Flask-Lastuser
Markdown
uwsgi

