#root {
  margin-bottom: -87px;
}
#root #root_footer {
  height: 87px;
}

footer {
  min-height: 77px;
}
footer .footer-inner {
  min-height: 77px;
}

body, p {
  font-family: ff-tisa-web-pro, Georgia, serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.leaflet-popup-content {
  font-family: ff-tisa-web-pro, Georgia, serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

ul, ol {
  margin-bottom: 12px;
}

li {
  line-height: 24px;
  margin-bottom: 0;
}

small {
  font-size: smaller;
}

.description p {
  text-align: center;
  font-size: 25px;
  line-height: 36px;
  font-style: italic;
  color: black;
  margin-bottom: 36px;
}

h2, h3 {
  font-family: ff-tisa-web-pro, Georgia, serif;
  color: black;
  margin-top: 24px;
}

.page-header h2 {
  font-family: bree-serif, Georgia, serif;
  font-weight: normal;
  margin-top: 0;
}

.page-top {
  margin-top: 24px;
}

h2 {
  font-size: 30px;
  line-height: 48px;
}

h3 {
  font-size: 25px;
  line-height: 48px;
}

h4, h5, h6 {
  line-height: 24px;
}

h1 small, h2 small, h3 small {
  line-height: 24px;
}

.blog h3 {
  line-height: 36px;
  font-weight: normal;
  font-family: bree-serif, Georgia, serif;
  margin-top: 26px;
}
.blog h3:first-child {
  margin-top: 0;
}
.blog h3 a {
  color: inherit;
  text-decoration: none;
  border-bottom: 6px solid transparent;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.blog h3 a:after {
  content: "\0000a0»";
  color: transparent;
}
.blog h3 a:hover {
  color: inherit;
  border-bottom: 6px solid black;
}
.blog h3 a:hover:after {
  color: inherit;
}

.author {
  text-align: right;
  font-style: italic;
}
.author:before {
  content: "— ";
}

ul.twitter_update_list {
  list-style: none;
  margin-left: 0;
}

.twitter_id {
  font-weight: bold;
}

.section-subheader h2, .section-subheader h3 {
  margin-top: 0;
}

#masthead, #masthead-short {
  margin-top: 31px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 6px solid black;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}

#masthead {
  background: url('../img/2012/masthead-wide.jpg?1340361269') no-repeat left top;
  height: 472px;
}

#masthead-short {
  background: url('../img/2012/masthead-short.jpg?1340454987') no-repeat left top;
  height: 260px;
}
#masthead-short h1 {
  position: absolute;
  top: 25px;
  left: 425px;
  bottom: 25px;
  width: 450px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 80px;
  line-height: 1;
}

#banner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 6px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  width: 450px;
  padding: 10px;
  text-align: center;
}
#banner h1 {
  font-size: 80px;
  line-height: 1;
  text-shadow: white 0 1px 10px;
}
#banner h2 {
  margin-top: 0;
  font-size: 25px;
  line-height: 48px;
}
#banner h3 {
  margin-top: 0;
  font-size: 19px;
  line-height: 24px;
}

h1 {
  font-family: bree-serif, Georgia, serif;
  font-weight: normal;
  color: black;
}
h1 .h1-the {
  font-size: 90%;
}

.section {
  margin: 0;
  margin-top: 48px;
}
.section h2 {
  font-family: bree-serif, Georgia, serif;
  font-size: 40px;
  font-weight: normal;
  color: black;
}

.section-header {
  text-align: center;
  margin-bottom: 20px;
}
.section-header h2 {
  border-bottom: 6px solid black;
  padding: 0 30px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
.section-header h2 {
  *display: inline;
}

.btn-wide {
  width: 70%;
  margin: 2em auto 1em;
  display: block;
  line-height: 1.5;
  padding: 0.5em 0 0.75em;
  max-width: 23em;
  font-size: 16px;
}

.navbar-margin {
  margin-bottom: 46px;
}

.main-navbar .nav {
  float: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: black;
  border-bottom: 6px solid black;
  border-left: 6px solid black;
  border-right: 6px solid black;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.main-navbar .nav > li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  float: none;
  font-size: 20px;
  margin-bottom: 0;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -moz-transition-property: color, background-color;
  -webkit-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.main-navbar .nav > li {
  *display: inline;
}
.main-navbar .nav > li > a {
  display: block;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: white;
  padding: 10px 10px 11px;
  line-height: 19px;
  text-decoration: none;
  -moz-transition-property: color, background-color;
  -webkit-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.main-navbar .nav > li:hover, .main-navbar .nav > li:hover > a {
  color: black;
  background-color: #b3a797;
  text-decoration: none;
  -moz-transition-property: color, background-color;
  -webkit-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.navbar-fixed-top .nav > .register, .navbar-fixed-top .nav > .register a {
  color: yellow;
}

.box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 6px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 18px;
}

.box-tight {
  padding: 0;
}

.pager {
  font-size: 18px;
  line-height: 24px;
}
.pager .previous {
  text-align: left;
}
.pager .next {
  text-align: right;
}

#about {
  margin-top: 24px;
}

#about h3 {
  text-align: center;
  font-family: bree-serif, Georgia, serif;
  font-size: 30px;
  font-weight: normal;
  color: black;
  margin-bottom: 20px;
  margin-top: 0;
  border-bottom: 6px solid black;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sharp-bottom-left {
  -moz-border-radius-bottomleft: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -o-border-bottom-left-radius: 0 !important;
  -ms-border-bottom-left-radius: 0 !important;
  -khtml-border-bottom-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.sharp-bottom-right {
  -moz-border-radius-bottomright: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -o-border-bottom-right-radius: 0 !important;
  -ms-border-bottom-right-radius: 0 !important;
  -khtml-border-bottom-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.round-bottom-left {
  -moz-border-radius-bottomleft: 4px !important;
  -webkit-border-bottom-left-radius: 4px !important;
  -o-border-bottom-left-radius: 4px !important;
  -ms-border-bottom-left-radius: 4px !important;
  -khtml-border-bottom-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.round-bottom-right {
  -moz-border-radius-bottomright: 4px !important;
  -webkit-border-bottom-right-radius: 4px !important;
  -o-border-bottom-right-radius: 4px !important;
  -ms-border-bottom-right-radius: 4px !important;
  -khtml-border-bottom-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.sponsor {
  padding: 1em;
  margin-bottom: 2.5em;
  background: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border-bottom: 6px solid black;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.sponsor:after {
  font-size: 10px;
  position: absolute;
  margin-top: 0.5em;
  top: 100%;
  right: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.sponsor.open {
  border-color: #e3e3e3;
}
.sponsor.open:after {
  color: #e3e3e3;
}
.sponsor.empty {
  border-color: #f4f4f4;
}
.sponsor.empty:after {
  color: #f4f4f4;
}
.sponsor .logo {
  text-align: center;
  vertical-align: middle;
  margin: 0;
}
.sponsor .logo img {
  max-height: 100%;
  width: auto;
  vertical-align: middle;
}

.sponsor-platinum .logo {
  height: 250px;
  line-height: 250px;
}

.sponsor-gold .logo {
  height: 150px;
  line-height: 150px;
}

.sponsor-silver .logo {
  height: 100px;
  line-height: 100px;
}

.sponsor-bronze .logo {
  height: 75px;
  line-height: 75px;
}

.sponsor-community .logo {
  height: 50px;
  line-height: 50px;
}

.sponsor-partner .logo {
  height: 100px;
  line-height: 100px;
}

.sponsor-platinum:after {
  content: "Platinum";
}

.sponsor-gold:after {
  content: "Gold";
}

.sponsor-silver:after {
  content: "Silver";
}

.sponsor-bronze:after {
  content: "Bronze";
}

.sponsor-community:after {
  content: "Community";
}

#venue h3 {
  margin-top: -8px;
}

.map-box {
  position: relative;
}

.map {
  border: 6px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0 0 24px 0;
  padding: 0;
}

.nav.nav-grid {
  margin-top: 36px;
}

.hasgeek {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/2012/hasgeek.png?1340317420');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100px;
  height: 100px;
}

.leaflet-popup-content-wrapper {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 12px 25px 12px 15px;
}

.tooltip {
  font-weight: bold;
  font-size: 14px;
}

footer .footer-inner {
  background: none;
}

.footer-bar {
  border-bottom: 6px solid black;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 12px;
}

/* ================= */
/* = Media Queries = */
/* ================= */
@media screen and (max-width: 600px) {
  #masthead {
    *zoom: 1;
    height: auto;
  }
  #masthead:after {
    content: "";
    display: table;
    clear: both;
  }
  #masthead #banner {
    position: static;
    border: 0;
    border-top: 6px solid black;
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    margin-top: 460px;
    background: #b3a797;
  }
  #masthead #banner h1 {
    text-shadow: none;
  }
}
@media screen and (max-width: 480px) {
  #masthead #banner h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) {
  .masthead-container {
    padding: 0;
  }
  .masthead-container #masthead, .masthead-container #masthead-short, .masthead-container .main-navbar .nav {
    margin-top: 0;
    border-left: 0;
    border-right: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
  }

  #masthead-short {
    background-position: -70px 0;
    height: 336px;
  }
  #masthead-short h1 {
    left: 0;
    top: auto;
    width: 100%;
    bottom: 0;
    padding-top: 10px;
    font-size: 60px;
    line-height: 1;
    border-top: 6px solid black;
    background-color: #b3a797;
  }

  .main-navbar .container {
    padding: 0;
  }
  .main-navbar .nav {
    padding: 0 5px;
    display: block;
    *zoom: 1;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
  }
  .main-navbar .nav:after {
    content: "";
    display: table;
    clear: both;
  }
  .main-navbar .nav > li {
    display: block;
    float: left;
  }

  .navbar-margin {
    margin-bottom: 0;
  }

  .navbar-fixed-top .nav > .register, .navbar-fixed-top .nav > .register a {
    color: white;
  }

  .section h2 {
    display: block;
  }

  #funnel-preview .header .funnel-preview-by,
  #funnel-preview .header .funnel-preview-date {
    display: none;
  }

  #funnel-preview .funnel-preview-by {
    float: left;
  }
  #funnel-preview .funnel-preview-by:before {
    content: "—";
  }
  #funnel-preview .funnel-preview-by:after {
    content: ",\0000a0";
  }

  #funnel-preview .funnel-preview-date {
    float: left;
  }

  .sponsor {
    margin-top: 1em !important;
  }

  .sponsor.empty, .sponsor.open {
    display: none;
  }

  .footer-bar {
    border-bottom: 0;
  }

  #funnel-listing .header {
    display: none;
  }
  #funnel-listing .funnel-by {
    float: left;
  }
  #funnel-listing .funnel-by:before {
    content: "—";
  }
  #funnel-listing .funnel-by:after {
    content: ",\0000a0";
  }
  #funnel-listing .funnel-date {
    float: left;
  }
  #funnel-listing .funnel-date:after {
    content: ",\0000a0";
  }
  #funnel-listing .funnel-comments {
    display: none;
  }
  #funnel-listing .funnel-votes {
    float: left;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  #masthead {
    background-position: -70px 0;
  }

  #masthead-short {
    background-position: -70px 0;
  }
  #masthead-short h1 {
    left: 330px;
    width: 380px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 979px) {
  #masthead {
    background-position: -110px 0;
  }
}
@media screen and (min-width: 980px) {
  #masthead {
    background-position: -110px 0;
  }
}
@media screen and (min-width: 1200px) {
  #masthead {
    background-position: 0 0;
  }
}
