/* 
PyCon India customizations to the original design. 
*/
header div#about > div small{
    font-weight: 300;
    letter-spacing: normal;
}

.schedules_table td a{
    font: inherit;
    font-style: normal;
}

.schedules_table td a.speaker {
    font: 12px 'Lora';
    font-style: italic;
}

.schedules_table td a.title {
    font: inherit;
    color: inherit;
    font-style: normal;
}

.map {
    overflow: hidden;
    background: none;
}
