#schedule, #workshops ,#twitter, #oldphotos, #pyconpresentations, #speak, #sponsor, #participate, #xkcd, #zen{display: none;}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a{
    color: #0088cc;
    text-decoration: none;
}


.clearspace{
    height: 0;
    overflow: hidden;
}

.wrapper{
    margin: 0;
    padding: 0;
}



/* Nav */
nav{
    background: #C8E0EF;
    border-bottom: 6px solid #4dbfd9;
    padding: 0;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 auto;
}

nav ul li{
    display: block;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #254f73;
    font-size: 20px;
    margin: 0 10px;
    text-shadow: 0 -1px 0 #fff;
}

nav ul li:hover{
    background: #4dbfd9;
}

nav ul li:hover a{
    text-shadow: none;
}

nav ul li a:hover{
    text-decoration: none;
    text-shadow: none;
}

#register-link{
    background: #F9BE06;
}

#register-link a{
    color: #fff;
    text-shadow: 0 -1px 0 #aa4;
}

#register-link:hover{
    background: #4dbfd9;
}


/* Header */
header{
    border-top: 20px solid #2D516F;
    border-bottom: 2px solid #61BDD6;
}

#pythonlogo{
    width: 60px;
    float: left;
    margin: 20px;
}

#title h1{
    color: #2D516F;
    font-size: 55px;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
    margin-bottom: -3px;
}

#title h1 span{
    font-weight: 300;
    font-style: italic;
    color: #F9BE06;
    font-size: 30px;
}

#title small{
    color: #2D516F;
    font: 20px 'Lato';
    font-weight: 600;
}

#title small span{
    font: 16px 'Lora';
    font-style: italic;
    color: #F9BE06;
}

header div#about{
    margin-top: 10px;
    background: #2d516f;
    padding: 20px;
    padding-top: 5px;
    font: 17px 'Lato';
    font-weight: 300;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    line-height: 25px;
    text-align: center;
}

header div#about > div{
    background: #fff;
    color: #2D516F;
    margin: 10px;
    text-shadow: none;
    font-weight: 800;
    font-size: 17px;
    letter-spacing: -1px;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    line-height: 17px;
}

header div#about > div small{
    font-weight: 300;
}


/* All Sections */
section{
    margin-top: 30px;
}

section h2{
    font: 30px 'Lato';
    font-weight: 800;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #295071;
    padding-bottom: 7px;
    border-bottom: 3px solid #F9BE06;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

section h2 span{
    display: none;
}


/*Schedule List*/
.schedules_table{
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.schedules_table td{
    vertical-align: bottom;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 25%;
    font-size: 22px;
}

.schedules_table td.light{
    font-size: 22px;
    font-weight: 600;
    color: #295071;
    border: none;
}


.schedules_table td.light small{
    font: 22px 'Lato';
    font-style: normal;
    font-weight: 300;
    color: #295071;
    border: none;
    padding: 0;
    margin-bottom: -10px;
}

.schedules_table td a{
    font: 14px 'Lora';
    font-style: italic;
}

.schedules_table tr.title td{
    border-top: 10px solid #295071;
}

.schedules_table td.heading{
    background: #eee;
}


/* Blog */
#blog{
    margin: 50px 0;
}

#blog h3{
    margin: 0;
    margin-top: 30px;
}

#blog small{
    color: #999;
    font: 11px 'Lora';
    font-style: italic;
}

#blog p{
    margin: 0 20px;
    color: #333;
}

#blog a{
    margin-left: 20px;
}


/* Venue */
#venue_details{
    background: #2D516F;
    margin-top: -30px;
    margin-bottom: 0;
    color: #fff;
    padding: 20px;
}

#venue_details h2{
    color: #fff;
    border-color: #fff;
    padding-left: 0;
}

#venue_details small{
    color: #ddd;
}

#venue_details a{
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

#venue_details p{
    margin-top: -30px;
}



/* Footer */
footer{
    text-align: center;
    margin: 0;
    margin-top: 40px;
    padding-top: 85px;
    color: #fff;
    text-shadow: 0 -1px 0 #b47f6b;
    background-color: transparent;
    background-image: url("../img/footer-small.png"), url('../img/bg_small_footer.png');
    background-repeat: no-repeat, repeat-x;
    background-position: center top, center bottom;
/*    border-top: 10px #5BC55C solid;*/
}

footer p{
    margin: 0;
    padding-bottom: 10px;
}

footer a{
   color: #3a2923;
   text-shadow: 0 -1px 0 #b47f6b;
}

footer a:hover{
    text-shadow: none;
}


/* Sponsors */
#sponsors-list{
    text-align: center;
    margin-bottom: 40px;
}

#sponsors-list h2{
    text-align: left;
}

#sponsors-list img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 20px;
}

#sponsors-list img:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

#sponsors-list img.platinum{width: 300px;}
#sponsors-list img.gold{width: 150px;}
#sponsors-list img.silver{width: 75px;}


@media screen  {
    div.keynotespeakerpic{
        text-align: center;
        padding-bottom: 15px;
    /*    padding-bottom: 20px;
        background: transparent url("../img/downarrow.png") no-repeat center bottom;*/
    }

    div.keynotespeakerpic img{
        width: 200px;
        height: 200px;
        border-radius: 170px;
        border: 10px solid #4DBFD9;
    }

    div.keynotespeakerinfo{
        font-size: 20px;
        text-align: center;
    }

    div.keynotespeakerinfo small{
        font: 14px 'Lato';
        text-transform: uppercase;
    }

    section#keynotespeakers2 .keynote {
        width: 50%;
        text-align:center;
        float: left;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    div.keynotespeakerpic img{
        width: 100px;
        height: 100px;
        border-radius: 85px;
        border: 5px solid #4DBFD9;
    }
}

@media screen and (max-width: 480px) {
    section#keynotespeakers2 .keynote {
        width: 100%;
    }

    div.keynotespeakerpic{
       float: left;
    }

    div.keynotespeakerpic img{
        width: 80px;
        height: 80px;
        margin: 10px;
        margin-left: 20px;
        border-radius: 45px;
        border: 5px solid #4DBFD9;
        float: left;
    }

    div.keynotespeakerinfo{
        font-size: 20px;
        clear: right;
        height: 80px;
        padding-top: 30px;
        float: left;
        text-align: left;
    }

    div.keynotespeakerinfo small{
        font: 14px 'Lato';
        text-transform: uppercase;
    }
}

/* Customizations by Anand */

nav {
    display: none;
}    

footer {
    color: #bbb;
    text-shadow: none;
}
footer a {
    color: #bbb;
    text-shadow: none;
    text-decoration: underline;    
}

.schedules_table td {
    text-align: center;
}

.schedules_table td.heading {
    border-bottom: none;
    border-top: 1px solid #ddd;
}

.schedules_table td div {
    padding: 5px 0px;
}

.schedules_table td div.talk {
    border-top: 1px solid #eee;
}
.schedules_table td div.talk:nth(1) {
    border-top: none;
}

.schedules_table td a.title {
    color: black;
    font-size: 22px;
    font-style: default;
    text-decoration: none;
    font: inherit;
    text-align: center;
}

.audi {
    font-size: 0.6em;
}

.mobile_schedule tr.time {
    background: #eee;
}

.mobile_schedule tr.time td {
    border-bottom: none;
    border-top: 1px solid #ddd;
}

.mobile_schedule tr.talk {
    border-top: 1px solid #eee;
}
.mobile_schedule tr.talk td {
    border-bottom: none;    
}

table.mobile_schedule {
    border-bottom: 2px solid #ddd;
}

.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}

.sponsors-list {
    text-align: center;
}

@media screen and (min-width: 500px) {
    img.platinum {
        max-width: 500px;
    }
    img.gold {
        max-width: 30%;
    }
    img.silver {
        max-width: 25%;
    }
}

@media screen and (max-width: 500px) and (min-width: 300px) {
    img.platinum {
        width: 100%;
    }
    img.gold {
        max-width: 50%;
    }
    img.silver {
        max-width: 33%;
    }
}

@media screen and (max-width: 300px) {
    img.platinum {
        width: 100%;
    }
    img.gold {
        max-width: 100%;
    }
    img.silver {
        max-width: 50%;
    }
}