<!DOCTYPE html>
<html>
  <head>
    <!--
    <link rel="stylesheet" href="/static/css/baseframe-packed.css?f7428024"/>
    -->
    
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
     rel="stylesheet" media="screen and (min-width: 1000px)">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic,900italic|Lora:400,700,400italic,700italic|PT+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1000px)" href="{{theme_static('css/master.css')}}" />

    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1000px)" href="{{theme_static('css/master2.css')}}" />

    <link rel="stylesheet" type="text/css" media="screen and (max-width: 1000px)" href="{{theme_static('mobile.css')}}" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script type="text/javascript" src="/static/js/baseframe-packed.js?34280daa"></script>
    <script type="text/javascript" src="/_themes/pyconindia2013/js/jquery.smooth-scroll.min.js.packed.js?892f1b40"></script>
    <script type="text/javascript" src="/_themes/pyconindia2013/js/jquery.twitter.js.packed.js?9fa3c998"></script>
    <script type="text/javascript" src="/_themes/pyconindia2013/js/app.js.packed.js?d41d8cd9"></script>

    <title>PyCon India 2013: Bangalore</title>
  </head>
  <body>
    <div class="wrapper">
      {% include theme("inc/nav.html") %}
      {% include theme("inc/header.html") %}

      <a id="zen" href="http://www.python.org/dev/peps/pep-0020/"><img src="{{theme_static('img/zen.png')}}" /></a>
      <a id="xkcd" href="http://xkcd.com/353/"><img src="{{theme_static('img/xkcd.png')}}" /></a>

      <div class="clearspace">&nbsp;</div>
      {% include theme("inc/keynotes.html") %}

      <div class="clearspace">&nbsp;</div>

      <div class="wrapper">
        <div class="row-fluid">
          <div class="span6">
            {% include theme("inc/blog.html") %}
          </div>
          <div class="span6">
            {% include theme("inc/twitter.html") %}
          </div>
        </div>
        <div class="clearspace">&nbsp;</div>
        {% include theme("inc/workshops.html") %}

        <div class="clearspace">&nbsp;</div>
        {% include theme("inc/schedule.html") %}

        <div class="clearspace">&nbsp;</div>
        {% include theme("inc/sponsors.html") %}

        <div class="clearspace">&nbsp;</div>
        {% include theme("inc/partners.html") %}
      </div>

      <div class="clearspace">&nbsp;</div>
    </div>

    {% include theme("inc/venue.html") %}

    {#
    <div class="clearspace">&nbsp;</div>
    {% include theme("inc/2012.html") %}
    #}

    <div class="clearspace">&nbsp;</div>    
    <div class="clearspace">&nbsp;</div>

    <footer>

      <p>Copyright &copy; 2013 <a href="http://python.org.in/">Python Software Society of India</a> &middot; Powered by <a href="#">EventFrame</a></p>
    </footer>

  </body>
</html>
