<div class="wrapper">
  <section id="pyconpresentations">
    <h2><span>&gt;&gt;&gt;</span>PyCon Presentations</h2>
    <div class="row-fluid">
      <div class="span4 video">
        <iframe width="316" height="178" src="http://www.youtube.com/embed/sygCiQcE_1c?list=PL6GW05BfqWIdWaV_aP6kHJKFY0ybOOfoA" frameborder="0" allowfullscreen></iframe>
        <h3>Solving Puzzles</h3>
        <small>by<a href="#"> Anand Chitipothu</a></small>
      </div>

      <div class="span4 video">
        <iframe width="316" height="178" src="http://www.youtube.com/embed/sygCiQcE_1c?list=PL6GW05BfqWIdWaV_aP6kHJKFY0ybOOfoA" frameborder="0" allowfullscreen></iframe>
        <h3>Solving Puzzles</h3>
        <small>by<a href="#"> Anand Chitipothu</a></small>
      </div>

      <div class="span4 video">
        <iframe width="316" height="178" src="http://www.youtube.com/embed/sygCiQcE_1c?list=PL6GW05BfqWIdWaV_aP6kHJKFY0ybOOfoA" frameborder="0" allowfullscreen></iframe>
        <h3>Solving Puzzles</h3>
        <small>by<a href="#"> Anand Chitipothu</a></small>
      </div>
    </div>
    <br><br>
    <div class="row-fluid">
      <div class="span4 video">
        <iframe width="316" height="178" src="http://www.youtube.com/embed/sygCiQcE_1c?list=PL6GW05BfqWIdWaV_aP6kHJKFY0ybOOfoA" frameborder="0" allowfullscreen></iframe>
        <h3>Solving Puzzles</h3>
        <small>by<a href="#"> Anand Chitipothu</a></small>
      </div>

      <div class="span4 video">
        <iframe width="316" height="178" src="http://www.youtube.com/embed/sygCiQcE_1c?list=PL6GW05BfqWIdWaV_aP6kHJKFY0ybOOfoA" frameborder="0" allowfullscreen></iframe>
        <h3>Solving Puzzles</h3>
        <small>by<a href="#"> Anand Chitipothu</a></small>
      </div>

      <div class="span4 video">
        <iframe width="316" height="178" src="http://www.youtube.com/embed/sygCiQcE_1c?list=PL6GW05BfqWIdWaV_aP6kHJKFY0ybOOfoA" frameborder="0" allowfullscreen></iframe>
        <h3>Solving Puzzles</h3>
        <small>by<a href="#"> Anand Chitipothu</a></small>
      </div>
    </div>
  </section>
</div>
<div class="clearspace">&nbsp;</div>

<div id="oldphotos">
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span4" id="oldphotostitle">
        <section>
          <!--        <h2 >PyCon India 2012</h2>-->
        </section>
      </div>
    </div>
  </div>
</div>
