      <header>
        <img src="{{theme_static('img/pythonlogo.png')}}" id="pythonlogo" />
        <div id="title">
          <h1>PyCon India<span> 2013</span></h1>
          <small>Bangalore &middot; <span>NIMHANS Convention Centre</span></small>
        </div>
        <div id="about">
          <p>
            PyCon India, the premier conference in India on using and developing the Python programming language is conducted annually by the Python developer community and it attracts the best Python programmers from across the country and abroad.
          </p>
          <div>
            <small>Conference</small><br>
            August 31 & September 1, 2013
          </div>
          <div>
            <small>Workshops</small><br>
            August 30, 2013
          </div>
        </div>
      </header>
