      <section id="keynotespeakers">
        <div class="row-fluid">
          <div class="span6">
            <div class="keynotespeakerpic">
              <img src="{{theme_static('img/speakers/kiran.jpg')}}">
            </div>
            <div class="keynotespeakerinfo">
              <strong><a href="https://twitter.com/jackerhack">Kiran Jonnalagadda</a></strong><br>
              <small>keynote speaker</small>
            </div>
          </div>
          <div class="span6">
            <div class="keynotespeakerpic">
              <img src="{{theme_static('img/speakers/kenneth.jpg')}}">
            </div>
            <div class="keynotespeakerinfo">
              <strong><a href="https://twitter.com/kennethreitz">Kenneth Reitz</a></strong><br>
              <small>keynote speaker</small>
            </div>
          </div>
        </div>
      </section>
