{% macro render_sponsor(name) -%}
  {% set node = fragment('2013', name) %}
  {% if node %}
    {% set website = node.properties.get("website") %}
    {% set image_url = node.properties.get("image") %}
    {% set has_content = node.properties.get("content") != "false" %}
    <p class="logo"><a data-toggle="modal" href="#{{name}}"><img alt="{{node.title}}" src="{{ image_url }}"></a></p>
    <div class="modal fade sponsor-box" id="{{name}}">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{{node.title}}</h3>
      </div>
      <div class="modal-body">
        {{ node.content }}
      </div>
      <div class="modal-footer">
        <a href="{{website}}" class="btn btn-primary sponsor-exit">Visit {{node.title}}</a>
        <a data-dismiss="modal" class="btn">Close</a>
      </div>
    </div>    
  {% else %}
    <p class="logo"><a href="{{website}}"><img alt="{{node.title}}" src="{{ image_url }}"></a></p>
  {% endif %}
{%- endmacro %}

{% macro render_sponsor_row(key, prefix, klass) -%}
  <div class="row">
    {% set root = getnode("2013", "") %}
    {% set names = root.properties.get(key) and root.properties.get(key).split(",") or [] %}
    {% for name in names %}
      <article class="{{ klass }}">
        {{ render_sponsor(prefix + name) }}
      </article>
    {% endfor %}
  </div>
{%- endmacro %}
