  <section id="schedule">
    <h2><span>&gt;&gt;&gt;</span>schedule</h2>
    <table id="schedule-list" class="schedules_table">
      <tr class="title">
        <td class="light"><small>31<sup>st</sup> August<br></small>Saturday</td>
        <td class="heading"><strong>Auditorium I</strong></td>
        <td class="heading"><strong>Room 42</strong></td>
        <td class="heading"><strong>Behind You</strong></td>
      </tr>
      <tr>
        <td class="heading"><b>9:00</b> to <b>10:00</b></td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>
        <td>
    Kivy Framework<br>
    <a href="#">Akshay Arora</a>
        </td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>
      </tr>
      <tr>
        <td class="heading"><b>9:00</b> to <b>10:00</b></td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>
        <td>
    Kivy Framework<br>
    <a href="#">Akshay Arora</a>
        </td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>
      </tr>
      <tr>
        <td class="heading"><b>9:00</b> to <b>10:00</b></td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>
        <td>
    Kivy Framework<br>
    <a href="#">Akshay Arora</a>
        </td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>
      </tr>
      <tr>
        <td class="heading"><b>9:00</b> to <b>10:00</b></td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>
        <td>
    Kivy Framework<br>
    <a href="#">Akshay Arora</a>
        </td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>

      </tr>

      <tr class="title">
        <td class="light"><small>1<sup>st</sup> September<br></small>Sunday</td>
        <td class="heading"><strong>Auditorium I</strong></td>
        <td class="heading"><strong>Room 42</strong></td>
        <td class="heading"><strong>Behind You</strong></td>
      </tr>
      <tr>
        <td class="heading"><b>9:00</b> to <b>10:00</b></td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>
        <td>
    Kivy Framework<br>
    <a href="#">Akshay Arora</a>
        </td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>

      </tr>   <tr>
        <td class="heading"><b>9:00</b> to <b>10:00</b></td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>
        <td>
    Kivy Framework<br>
    <a href="#">Akshay Arora</a>
        </td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>

      </tr>   <tr>
        <td class="heading"><b>9:00</b> to <b>10:00</b></td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>
        <td>
    Kivy Framework<br>
    <a href="#">Akshay Arora</a>
        </td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>

      </tr>
      <tr>
        <td class="heading"><b>9:00</b> to <b>10:00</b></td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>
        <td>
    Kivy Framework<br>
    <a href="#">Akshay Arora</a>
        </td>
        <td>
    A Beginner's Guide to Django Forms<br>
    <a href="#">Arunachalam</a>
        </td>

      </tr>

    </table>
  </section>
