{% from theme('inc/macros.html') import render_sponsor_row with context  %}

  <div class="row-fluid">
    <div class="span12">
      <section id="sponsors-list">
        <h2 ><span>&gt;&gt;&gt;</span>Sponsors</h2>
        {{ render_sponsor_row("platinum-sponsors", prefix="sponsor-", klass="platinum") }}
        {{ render_sponsor_row("gold-sponsors", prefix="sponsor-", klass="gold") }}
        {{ render_sponsor_row("silver-sponsors", prefix="sponsor-", klass="silver") }}
        <a href="#">Download Sponsorship Prospectus</a>
      </section>
    </div>
  </div>
