<section id="sponsors" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="left">Sponsors</h2>
    </div>
    <div class="row">
      <article class="sponsor-platinum sponsor span6">
        <p class="logo">
            <a href="http://www.zeomega.com/" title="ZeOmega"><img alt="ZeOmega" src="{{ theme_static('img/2013/sponsors/sponsor-zeomega.png') }}"></a>
        </p>
      </article>
      <article class="open sponsor-platinum sponsor span6">
        <p class="logo"></p>
      </article>
    </div>

    <div class="row">
      <article class="sponsor-gold sponsor span3">
        <p class="logo"><a href="http://www.enthought.com/"><img alt="Enthought" src="{{ theme_static('img/2013/sponsors/sponsor-enthought.png') }}"></a></p>
      </article>

      <article class="sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>

      <article class="sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>

      <article class="sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>
    </div>
    <div class="row">
      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a href="http://www.vaultize.com/" title="Vaultize"><img alt="Valtize" src="{{ theme_static('img/2013/sponsors/sponsor-vaultize.png') }}"></a></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /sponsors -->
