        <section id="twitter">
          <h2 ><span>&gt;&gt;&gt;</span>Twitter</h2>

        <p class="tweet">
    Please welcome the latest Gold level sponsor for PyCon 2014: PlaidCloud! <a href="#">http://help.plaidcloud.com</a>  <a href="#">http://bit.ly/12z0vzH</a> <a href="#">@plaidcloud</a> <a href="#">#pycon</a>
    <br>
    <small>5 minutes ago</small>
        </p>

        <p class="tweet">
    Please welcome the latest Gold level sponsor for PyCon 2014: PlaidCloud! <a href="#">http://help.plaidcloud.com</a>  <a href="#">http://bit.ly/12z0vzH</a> <a href="#">@plaidcloud</a> <a href="#">#pycon</a>
    <br>
    <small>5 minutes ago</small>
        </p>

        <p class="tweet">
    Please welcome the latest Gold level sponsor for PyCon 2014: PlaidCloud! <a href="#">http://help.plaidcloud.com</a>  <a href="#">http://bit.ly/12z0vzH</a> <a href="#">@plaidcloud</a> <a href="#">#pycon</a>
    <br>
    <small>5 minutes ago</small>
        </p>

        <a href="/blog/">See all Tweets &raquo;</a>
      </section>
