@font-face { font-family: Inconsolata; src: url(/static/Inconsolata.otf); } 

body	{
	background: url(/static/img/bg.png) #F7F6F0;
	color: #DDD;
        color: #000;
}

p {
    font-size: 18px;
    line-height: 1.5em;
}

h1  {color: #e8e9e1;

     color: #234764;
}

p.date	{
	text-transform: uppercase;
	color: #444;
}

header{
	position: fixed;
	top: 0;
	left: 50%;
	width: 100%;
        /*
	background: url(/static/img/bg_nav.png) top;
        */
        background: #234764;
	color: #222;
	z-index: 100;
        color: #fff;
}

header a, header a:hover {
    border-bottom: none;
}

footer .footer-inner	{
 	background: url(../img/nav-bg.png) repeat-x top;	
 }

.content	{
	background: url(../img/nav-bg.png) repeat-x top;	
	margin-top:126px;
	padding-top: 25px;
}


.header-logo	{
  height: 35px;
  font-size: 30pt;
  font-family: Inconsolata, Verdana, sans-serif;
  margin-top: 25px;
  padding-top: 10px;  
  text-align: center;
/*  background: url(/static/img/logo.png) left top no-repeat; */
}

.logo1	{
	color: #816894;
}
.logo2	{
	color: #df5e0e;
}
.logo3	{
	color: #f0a40c;
}

.hg 	{
	padding-top: 15px;
}

a  {color: #ffd200;}
a:hover  {color: #fff2b4;}

a, a:hover {
    color: #00A;
    border-bottom: 1px dashed #CCC;
}
    

nav{margin-top: 35px;}

nav a	{
	font-size: 18px;
	padding: 15px;
        /*
	text-shadow:-1px -1px 1px #ccc;
        */
	color: #333;
        color: #ddd;
}

nav a:hover	{
	text-decoration: none;
	color: #555;
	color: #fff;
}

.header-social .twitter, .header-social .fb	{
	height: 20px;
	width: 20px;
	margin: 10px;
	margin-top: 35px;
	background: url(/static/img/twitter.png) no-repeat;
	float: left;
}
.header-social .fb	{
	background: url(/static/img/fb.png) no-repeat;
}
.header-social .twitter:hover, .header-social .fb:hover	{
	background-position: center bottom;
}

a:hover	{
	text-decoration: none;
}
.btn-warning  {color: #000;}
h2	{
	color: #FFF;
	font-weight: 100;
	font-size: 30pt;
	font-family: Helvetica, Arial, sans-serif;
	padding-bottom: 10px;
        color: #234764;
}

.mast	{
	text-align: center;
}

.mast h1 {
	color: #000;
	font-family: consolas, sans-serif;
	font-size: 35pt;
	font-weight: 100;
}

h3	{
	color: #FFF;
        color: #234764;
}

.con p {
    font-size: 16px;
}

.con a {
    font-size: 12px;
}

.map {
	height: 400px;
	color: #333;
	position: relative;
	top: 0;
	left: 0;
}

.cursor {
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter:alpha(opacity=6);
}
.mobile-header	{display: none;}

@media (max-width: 350px)	{
	.header-social .fb, .header-social .twitter {
  	display: none;  	
  }

  .span4	{
  	margin-top: 20px;
  }

  header {position: absolute; top: 0;}
  .navbar	{ margin-bottom: 0px; }

  nav 	{ margin-top: 5x; padding-left: 0; margin-left: -20px;text-align: center;}

  nav a {
  	padding: 5px;
  	font-size: 17px;
  	padding-top: 0px;
  }

  .mobile-header {display: inherit;}

  .header-logo	{
  	padding-top: 25px;
  	text-align: center;
  }

  .content:first-child	{margin-top: 245px;}
  .content	{margin-top: 10px}
  
  .hg img	{display:none;} 
}

@media (max-width: 767px) and (min-width: 351px){
  .header-social .fb, .header-social .twitter {
  	display: none;  	
  }

  .span4	{
  	margin-top: 20px;
  }

  header {position: absolute; top: 0;}
  .navbar	{ margin-bottom: 0px; }

  nav 	{ margin-top: 0px; padding-left: 0; margin-left: -20px;text-align: center;}

  nav a {
  	padding: 5px;
  	font-size: 17px;
  	padding-top: 0px;
  }

  .mobile-header {display: inherit;}

  .header-logo	{
  	padding-top: 25px;
  	text-align: center;
  	background:none;
  	display: none;
  }

  .title {
  	background: url(/static/img/logo.png) no-repeat;
  	padding-left: 70px;
  }

  .content:first-child	{margin-top: 178px}
  .content	{margin-top: 10px}
  
  .hg img	{display:none;} 
}

@media (min-width: 768px) and (max-width: 1200px) { 
  
  .header-social .fb, .header-social .twitter {
  	margin: 5px;
  	margin-top: 15px;
  }
  .navbar	{ margin-bottom: 0px; }
  nav 	{ margin-top: 15px; padding-left: 0; margin-left: -20px;}

  nav a {
  	padding: 5px;
  	font-size: 17px;
  	padding-top: 0px;
  }

  .header-logo	{
  	font-size: 25px;
  	margin-top: 5px;
  	text-align: center;
  	background: none;
  }

  .title	{
	background: url(/static/img/logo_med.png) no-repeat;
	padding-left: 44px;
	}

  .content	{margin-top: 87px}

  .hg 	{padding-top: 3px;}
 }
.schedule table { font-size: 16px; }
.schedule th,
.schedule .time,
.schedule -2, .schedule .track-4 { background: #E3E3E3; background: rgba(0,0,0,0.1); }
.schedule thead th { text-align: center; }
.schedule table tbody tr:hover td { background: #787777; }
.schedule td, .schedule th { padding: 0.75em 1em 1.5em; border: 1px solid #A19FA0;}
.videos { margin-top: 3em; }
.session-video { margin-bottom: 1.5em; }
.session-video a { display: block; }
.session-video a:hover { text-decoration: none; }
.session-video a:hover .thumbnail { outline: 0.5em solid #E3E3E3; outline-color: rgba(0,0,0,0.1); }
.session-video a:hover h4 { color: #F0A40C; }
.session-video h4 {
	font-weight: 500;
	color: black;
	margin-top: 0;
}
.session-video h5 {
	margin: 0.5em 0;
	color: gray;
/*	font-size: 0.786em;*/
	font-weight: 500;
	text-transform: uppercase;
}
.session-video h5 a { display: inline; }
.session-video .thumbnail {
	border: none;
	padding: 0;
	margin-left: 0;
	margin-right: 16px;
	-webkit-box-shadow: 1px 1px 1px #BBB;
	   -moz-box-shadow: 1px 1px 1px #BBB;
	        box-shadow: 1px 1px 1px #BBB;
}

.hsponsor {
	padding: 1em;
	margin-bottom: 2.5em;
	background: white;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	position: relative;
	-webkit-box-shadow: 1px 1px 2px #BBB;
	   -moz-box-shadow: 1px 1px 2px #BBB;
	        box-shadow: 1px 1px 2px #BBB;
}
.hsponsor.open {
	background: #E3E3E3;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.hsponsor.empty {
	background: rgba(200,200,200,0.2);
	-webkit-box-shadow: inset 1px 1px 1px #BBB;
	   -moz-box-shadow: inset 1px 1px 1px #BBB;
	        box-shadow: inset 1px 1px 1px #BBB;	
}
.hsponsor:after {
	font-size: 10px;
	position: absolute;
	margin-top: 0.5em;
	top: 100%;
	right: 0;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #BBB;
}
.hsponsor .logo { height: 100px; text-align: center; vertical-align: middle; margin: 0; }
.hsponsor .logo img { max-height: 100%; width: auto; vertical-align: middle; }
.hsponsor-platinum .logo { height: 250px; line-height: 250px; }
.hsponsor-gold .logo 	{ height: 150px; line-height: 150px; }
.hsponsor-silver .logo	{ height: 100px; line-height: 100px; }
.hsponsor-community .logo{ height: 50px;  line-height: 50px;  }
.hsponsor-platinum:after { content: "Platinum"; }
.hsponsor-gold:after		{ content: "Gold"; }
.hsponsor-silver:after	{ content: "Silver"; }
.hsponsor-community:after{ content: "Community"; }
.modal-header h3 { font-size: 1.8em; margin-bottom: 0.4em; color: black; }
.modal-body { font-size: 16px; color: black; }
