{% extends 'base.html' %}
{% block title %}PyCon India 2012{% endblock %}

 {% block pageheaders %}{% endblock %}
{% block headerbox %}

<header>
  <!--
  {% include "baseframe/networkbar.html" -%}
  -->
  <div class="container header navbar" id="navbar">
    <div class="row">
      <div class="span5 header-logo" onclick='scroll("home")'>
        <span class="title">&gt;&gt;&gt; PyCon India 2012</span>
      </div>
      <div class="span5">
        <nav>
          <a href="#home" onclick="scroll('home')">home</a>
          <a href="#participate" onclick="scroll('participate')">participate</a>
          <a href="#sponsors" onclick="scroll('sponsors')">sponsors</a>
          <a href="#schedule" onclick="scroll('schedule')">talks</a>
          <a href="#venue" onclick="scroll('venue')">venue</a>
        </nav>
      </div>
      <div class="span2 header-social">
        <a href="http://twitter.com/#!/pyconindia" class="twitter"></a>
        <a href="http://www.facebook.com/PyConIndia" target="_blank" class="fb"></a>
      </div>
      <!--
      <div class="span1 hg"><a href="#hasgeek" onclick="scroll('hasgeek')"><img src="/static/img/hg-logo.png" /></a></div>
      -->
    </div>
    <div class="row mobile-header">
      <div class="span12 header-social-mobile">
        <a href="http://twitter.com/#!/pyconindia" class="twitter"></a>
        <a href="http://www.facebook.com/PyConIndia" target="_blank" class="fb"></a>
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<section>
  <div class="container" >
       <!--<div class="row" id="home">
        <div class="span12">
          <div class="monitor">
            <div class="mon1 borrad12"></div>
            <div class="mon2 borrad12"></div>
            <div class="mon3 borrad12"></div>
            <div class="mon4 borrad12"></div>
            <div class="mon5"></div>
          </div>

          <div class="mast">
            <p>Let there be sysadmins</p>
            <p class="date">May 26th, 2012 | Dharamaram College, Bangalore</p>
          </div>
        </div>
      </div>-->
      <div class="row content" id="home" >
        <div class="span12" align="center">
          <h1 style="font-size: 3.0em; line-height: 1.0em; padding: 10px;">PyCon India 2012</h1>
        </div>
      </div>
      <div class="row" >
        <div class="span12" align="center">
            <h2 style="font-size: 1.5em; padding: 0px;">September 28-30, 2012</h2>
            <h2 style="font-size: 1.5em; padding: 0px;"><em>Dharmaram Vidya Kshetram</em>, Bangalore</h2>
        </div>
      </div>
      <div class="row content" style="margin-top: 10px">
        <div class="span12">
          <h2>About PyCon India</h2>
          <p>PyCon India is the primary <a href="http://www.python.org/">Python</a> conference in India. A purely volunteer effort, it is being hosted for the fourth time in India, and will attract some of the best Python developers in India and abroad.</p>

          <p>
          <b>Important Dates</b>
          <ul>
            <li class="call_for_proposals">Call for proposals opens :: June 26, 2012</li>
            <li class="deadline_for_proposals">Proposal submission deadline :: August 25, 2012</li>
            <li class="acceptance_for_proposals">Proposal acceptance :: Aug 31, 2012</li>
            <li class="first_presentation_upload">First presentation upload :: Sep 15, 2012</li>
            <li class="final_presentation_upload">Final presentation upload (with changes if any) :: Sept 25, 2012</li>
            <li class="conference_dates">Conference :: September 28th, 29th and 30th, 2012</li>
          </ul>
          </p>

        </div>
      </div>
      <div class="row content full" id="participate">
        <div class="span4">
          <h2>Participate</h2>
          <p>Get the tickets now!</p>
           <p>Look at the <a href="/2012/funnel/pyconindia2012/">existing proposals</a>.</p>

          <p><a class="btn-warning btn-large" target=_blank href="http://pyconindia2012.doattend.com/">Book now</a></p>
        </div><!--/span-->
         <div class="span4">
          <h2>Speak</h2>
          <p>Do you have what it takes to speak to fellow Pythonistas?</p>

          <p><a class="btn-warning btn-large" href="/2012/funnel/pyconindia2012/" id="propose-session">Propose a Session</a></p>
        </div><!--/span-->
        <div class="span4">
          <h2>Sponsor</h2>
          <p>Would you or your employer like to sponsor PyCon India? </p>
          <p><a class="btn-warning btn-large" target=_blank href="mailto:contact@in.pycon.org" target="_blank">Get in Touch</a></p>
        </div><!--/span-->
      </div><!--/row-->

      <div class="row content" id="sponsors">
        <div class="span12"><h2>Sponsors</h2></div>
        </div><!--/row-->
        <div class="row">

          <article class="open hsponsor hsponsor-silver span2">
            <p class="logo"><a data-toggle="modal" href="#sponsor-agiliq"><img alt="Agiliq" src="{{ url_for('static', filename='img/sponsors/agiliq.png') }}"/></a></p>
          </article>

          <article class="open hsponsor span2">
            <p class="logo"><img alt="Become a Sponsor" src="{{ url_for('static', filename='img/you.gif') }}"></p>
          </article>


      <div class="modal fade" id="sponsor-agiliq">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Agiliq</h3>
        </div>
        <div class="modal-body">
          <p><a class="sponsor-exit" href="http://agiliq.com/">Agiliq</a> builds amazing web and mobile apps for their clients. They use Python and Django extensively and are consistent <a class="sponsor-exit" href="http://github.com/agiliq">open source contributors</a>.</p>

          <p>They are <a href="http://agiliq.com/blog/jobs/">looking to hire</a> the best Python developers to build the next generation of web and mobile apps. They <a href="http://agiliq.com/blog">blog regularly</a> about their work.</p>

        </div>
        <div class="modal-footer">
          <a href="http://agiliq.com/" class="btn btn-primary sponsor-exit">Visit Agiliq</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>

      </div><!--/row-->


    <div class="row content" id="schedule">
      <div class="span12"><h2 id="talks">Talks</h2></div>
    </div>
    <div class="row">
      <div class="span12">
        <p>Call For Proposals is open. Look at the <a href="/2012/funnel/pyconindia2012/">existing proposals</a>.</p>
      </div>
    </div>


      <div class="row content" id="venue"><div class="span12"><h2 id="location">Venue</h2></div></div>
       <div class="row">
        <div class="span6">
          <div id="map" class="map"></div>
        </div>
        <div class="span6">
          <h3 style="text-transform: uppercase; font-size: 25pt">DHARMARAM VIDYA KSHETRAM</h3>
          <p><strong>Chirst University Campus, Bangalore</strong></p><hr />
          <p>PyCon India 2012 is set in Dharmaram College’s beautiful, tree-filled campus.</p>

          <p>
            To get there, enter Christ University’s main entrance gate
            on Marigowda Road and drive straight down to Dharmaram
            Vidya Kshetram, within the campus.
          </p>

          <p>
            Christ University is at Dairy Circle, half a kilometre
            from the Forum mall. If you are approaching from Dairy
            Circle, drive up to Hosur Road for a U-turn. The campus
            has sufficient parking space.
          </p>

          <p>
            The confernce is in DVK's Theology and Philosophy blocks,
            behind the main auditorium.
          </p>

          <p><a href="http://goo.gl/maps/jYyv">View location in Google Maps</a></p>

          <h3><span>WHEN</span>: September 28,29 and 30, 2012</h3>
        </div>
      </div>

      <div class="row content" id="ipss">
        <div class="span12">
          <h2 id="abouthg">About IPSS</h2>

          <p><a href="http://ipss.org.in">Indian Python Software Society</a> is an organization to promote Python in India. IPSS has been conducting PyCon India conference from past 4 years.</p>

        </div><!--/span-->
      </div><!--/row-->
    </div>
</section>
{% endblock %}
{% block footerscripts %}
<script>

$(function() {
  var map = new L.Map('map');
  var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
      subDomains = ['otile1','otile2','otile3','otile4'],
      cloudmadeAttrib = '<a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
      var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});

      var venue = new L.LatLng(12.9334, 77.6050); // geographical point (longitude and latitude)
      var center = new L.LatLng(12.936, 77.62);
      var mobile_center = new L.LatLng(12.935, 77.591);
      map.setView(center, 14).addLayer(cloudmade);
      if (map.getSize().x < 768) { map.setView(venue,14); } // on smaller screen where map takes full-width

      var venue_marker = new L.Marker(venue);
      map.addLayer(venue_marker);
      venue_marker.bindPopup('Dharmaram Vidya Kshetram').openPopup();
      map.scrollWheelZoom.disable();
      map.doubleClickZoom.disable();

      map.on('zoomend', onZoomend);
      function onZoomend(){ map.setView(venue, map.getZoom()); };
});

function scroll(scrollToId)
{
    p = $("#" + scrollToId);
    scrollTo = p.position().top;
    $('html, body').animate({scrollTop: scrollTo}, 600);
}
function cursorAnimation()
{
  $(".cursor").animate({opacity: 0}, 200, "swing").animate({opacity: .6}, 400).animate({opacity: 0.6}, 400).animate({opacity:0}, 200);
}
$(document).ready(function()
{
  $(window).resize(function(){    $('header').css('margin-left', (-($('header').width())/2) + "px");});
  setInterval ( "cursorAnimation()", 1000 );
  $('header').css('margin-left', (-($('header').width())/2) + "px");
});
</script>
{% endblock %}
