{% extends theme("layout.html") %}

{% block title %}{{ node.title }}{% endblock %}
{% block description %}{{ node.description }}{% endblock %}

{% block headline %}{% endblock %}
{% block content %}
<div class="description">
  {{ node.content }}
</div>
<div class="row blog">
  <div class="span7">
    {% for post in feed() -%}
      <h3><a href="/2012{{ url_for('node', folder=post.folder.name, node=post.name) }}">{{ post.title }}</a></h3>
      <div class="post-date"> <small>{{ post.published_at|longdate }}</small> <span class="author">{{ post.user.fullname }}</span></div>
      <div class="post-content">
        {{ post.content }}
       </div>
    {%- else -%}
      <p>(No blog entries have been written so far)</p>
    {%- endfor %}
  </div>
</div>
{% endblock %}
