{% extends theme("layout.html") %}

{% block title %}{{ node.title }}{% endblock %}
{% block description %}{{ node.description }}{% endblock %}

{% block headline %}{% endblock %}
{% block content %}
<div class="row page-top">
  <div class="span6">
    <div class="page-header"><h2>{{ node.title }}</h2></div>
    {{ node.content }}
  </div>
  <div class="span6 box box-tight">
    <iframe id="ifrm" name="ifrm" src="http://doattend.com/embed_ticket/21810" scrolling="auto" width="100%" height="1000" frameborder="0"><a href = 'http://fifthelephant.doattend.com'>Click here to register for The Fifth Elephant.</a></iframe>
  </div>
</div>
{% endblock %}
